name: Malcontent Analysis

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  malcontent:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write # Required for PR comments

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0  # Fetch all history for proper diff analysis

      - name: Run Malcontent Analysis
        id: malcontent
        uses: ./ # In actual usage, this would be: chainguard-dev/malcontent-action@...
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # NB: Could also set `fail-on-increase: false` and use `if: ${{steps.malcontent.outputs.risk-delta > 5}}` to allow some risk increase

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e #v3.29.0 - 11 Jun 2025
        if: always() # Upload even if the malcontent check fails
        with:
          sarif_file: ${{ steps.malcontent.outputs.sarif-file }}
          category: malcontent
