name: Malcontent Analysis

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  malcontent:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write # Required for PR comments

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0  # Fetch all history for proper diff analysis

      - name: Run Malcontent Analysis
        id: malcontent
        uses: ./ # In actual usage, this would be: chainguard-dev/malcontent-action@...
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # NB: Could also set `fail-on-increase: false` and use `if: ${{steps.malcontent.outputs.risk-delta > 5}}` to allow some risk increase

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 #v3.29.0 - 11 Jun 2025
        if: always() # Upload even if the malcontent check fails
        with:
          sarif_file: ${{ steps.malcontent.outputs.sarif-file }}
          category: malcontent
