name: Malcontent Analysis

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  malcontent:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write # Required for PR comments

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0  # Fetch all history for proper diff analysis

      - name: Run Malcontent Analysis
        id: malcontent
        uses: ./ # In actual usage, this would be: chainguard-dev/malcontent-action@...
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # NB: Could also set `fail-on-increase: false` and use `if: ${{steps.malcontent.outputs.risk-delta > 5}}` to allow some risk increase

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 #v3.29.0 - 11 Jun 2025
        if: always() # Upload even if the malcontent check fails
        with:
          sarif_file: ${{ steps.malcontent.outputs.sarif-file }}
          category: malcontent
